@charset "UTF-8";
.card11.type-gap>div {
  margin-bottom: .5rem
}
.card11>.title {
  margin: .625rem 0 .3125rem .75rem
}
.card11 .more-detail {
  height: 2.375rem;
  text-align: center;
  line-height: 2.375rem;
  margin-top: -.0625rem
}
@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio:2) {
  .card11 .more-detail {
    margin-top: 0
  }
}
.card11 .more-detail a {
  text-decoration: none
}
.card11 .more-detail .icon-font-arrow-right {
  margin-left: .1875rem;
  vertical-align: -.125rem
}
.card11 .card9 {
  margin-bottom: .5625rem
}
.card16 {
  padding: .5rem .75rem
}
.card16 .box-col a {
  display: block
}
.card16 .iconimg {
  margin: 0 .625rem 0 0
}
.card16 .mod-operate {
  width: auto;
  padding: 0;
  height: 2.25rem;
  line-height: 2.25rem
}
.card16 .operate-inner .inner {
  text-align: left
}
.card16 .operate-inner .inner img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .625rem 0 0
}
.card16 .operate-inner .inner .txt-xxs {
  display: inline;
  font-size: 1rem
}
.card17 {
  font-size: 0
}
.card17 .layout-box {
  height: 1.9375rem;
  line-height: 1.9375rem
}
.card17 .bubble {
  margin: 0 0 0 .5rem;
  vertical-align: -.4375rem;
  text-align: center
}
.card17 .item-box {
  position: relative;
  display: inline-block;
  width: 50%;
  padding: .5rem;
  box-sizing: border-box
}
.card17.col-2 .item-box:nth-of-type(2n+1), .card17.col-3 .item-box:nth-of-type(3n+1), .card17.col-4 .item-box:nth-of-type(4n+1), .card17.col-5 .item-box:nth-of-type(5n+1) {
  padding-left: .75rem
}
.card17 .line-separate:before {
  left: 0;
  top: 10%;
  width: 100%;
  height: 80%
}
.card17 .line-separate::after {
  left: 4%;
  top: 0;
  width: 92%;
  height: 100%
}
.card19 {
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
  overflow: hidden
}
.card19 .iconimg {
  margin: 0 0 .625rem 0
}
.card19 .item-box {
  position: relative;
  display: inline-block;
  padding: .5rem;
  width: 25%;
  box-sizing: border-box
}
.card19 .item-box .content-main {
  padding: .3125rem;
  text-align: center
}
.card2 {
  overflow: hidden
}
.card2 .box-col {
  position: relative;
  padding: .4375rem 0;
  text-align: center;
  display: block
}
.card2 .mct-s, .card2 .box-col .icon-font {
  color: #516ea0
}
.card2 .txt-bottom {
  margin: .25rem 0 0 0
}
.card2 .line-separate:before {
  height: 1.75rem;
  top: .4375rem
}
.card2 .box-col>div {
  height: .75rem
}
.card20 {
  font-size: 0
}
.card20 .mct-a {
  vertical-align: middle
}
.card20 .iconimg {
  margin-right: .5rem
}
.card20 .item-box {
  position: relative;
  display: inline-block;
  width: 50%;
  padding: .5rem;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  height: 2.125rem
}
.card21 .media-main {
  position: relative
}
.card21 .title {
  padding: .5rem .5rem .125rem .75rem
}
.card22 {
  text-align: center;
  border-bottom: 0 none
}
.card22 .card-inner {
  position: relative;
  min-width: 100%;
  min-height: 2rem
}
.card22 img {
  display: block;
  max-width: 100%;
  margin: 0 auto
}
.card22.roundedcorner img {
  border-radius: .1875rem
}
.card22 .card-title {
  height: 2rem;
  line-height: 2rem;
  background-color: rgba(0, 0, 0, .7);
  padding: 0 .5625rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  text-align: left
}
.card23 .box-col {
  position: relative;
  height: 2.0625rem;
  padding: .75rem 0;
  text-align: center
}
.card23 .box-col .mct-c {
  margin: .5rem 0 0 0
}
.card23 .line-separate:before {
  height: 2.0625rem;
  top: .75rem
}
.card23 .box-col>div {
  height: .75rem
}
.card24 .mod-media {
  position: relative
}
.card27 .title {
  padding: .375rem 0 .75rem 0
}
.card27 .main-content {
  padding: .625rem .75rem;
  overflow: hidden
}
.card27 .media-pic {
  text-align: center
}
.card27 .media-pic img {
  max-width: 100%
}
.card27 .media-txt {
  padding: .625rem 0 0;
  line-height: 1.125rem
}
.card27 .more-detail {
  height: 2.375rem;
  text-align: center;
  line-height: 2.375rem
}
.card27 .more-detail a {
  text-decoration: none;
  display: block
}
.card27 .more-detail .icon-font {
  margin-right: .1875rem;
  vertical-align: -.0625rem
}
.card27 .more-detail .icon-font-arrow-down {
  margin-left: .1875rem;
  vertical-align: middle
}
.card29 {
  padding: .375rem .75rem .625rem
}
.card29 .title {
  padding: 0 0 .375rem 0
}
.card29 .media-pic {
  text-align: center
}
.card29 .media-pic img {
  max-width: 100%
}
.card31 .search-box {
  position: relative;
  padding: .4375rem .375rem .4375rem .4375rem;
  width: 100%;
  background: #dedede;
  outline: 0;
  box-sizing: border-box;
  box-shadow: none
}
.card31 .search-box .input-wrapper {
  overflow: hidden;
  border: silver solid .0625rem;
  background: #fff;
  border-radius: .1875rem;
  box-shadow: inset 0 .0625rem .125rem rgba(171, 171, 171, .6)
}
.card31 .search-box .input-wrapper .input-box {
  overflow: hidden
}
.card31 .search-box .type {
  position: relative;
  margin: .3125rem 0 0 .375rem;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  color: #828282
}
.card31 .search-box .clear {
  display: none;
  position: relative;
  margin: .5rem .625rem;
  width: .9375rem;
  height: .9375rem;
  background: #bdbdbd;
  border-radius: .4375rem
}
.card31 .search-box .clear::before, .card31 .search-box .clear::after {
  content: ' ';
  position: absolute;
  top: .4375rem;
  left: .1875rem;
  width: .5625rem;
  height: .0625rem;
  background: #fff;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg)
}
.card31 .search-box .clear::after {
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg)
}
.card31 .search {
  margin: 0;
  border: none;
  padding: .375rem 0 .4375rem;
  width: 100%;
  font-size: .875rem;
  background: 0 0;
  vertical-align: top;
  box-sizing: border-box
}
.card31 .search-box .btn-txt {
  display: none;
  width: 4.125rem;
  text-indent: .375rem;
  line-height: 1.875rem;
  font-size: 1.0625rem;
  color: #ff8200;
  text-align: center;
  text-shadow: 0 .0625rem 0 #fff
}
.card31 .search-box.isReady .type::before {
  content: ' ';
  position: absolute;
  top: .5625rem;
  left: .375rem;
  border: #5d5d5d solid .25rem;
  border-color: #5d5d5d transparent transparent
}
.card31 .search-box.isReady .clear {
  display: block
}
.card31 .search-box.isReady .btn-txt {
  display: block
}
.card32 .layout-box {
  height: 1.6875rem;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .5rem .75rem
}
.card32 .iconimg {
  margin: 0 .625rem 0 0
}
.card32 .mct-a {
  vertical-align: middle
}
.card32 .plus {
  margin: 0
}
.card32 .plus i {
  margin: 0
}
.card35 {
  font-size: 0;
  padding: 0 0 .5rem .625rem;
  box-sizing: border-box
}
.card35 .item-box {
  display: inline-block;
  width: 33.33%;
  margin: 0;
  padding: .5rem .5rem 0 0;
  box-sizing: border-box
}
.card35 .item-box img {
  width: 100%
}
.card36 .media-graphic .item-minor {
  padding: .375rem 0 0;
  position: relative
}
.card36 .mct-num {
  color: #ff7200
}
.card36 .resent-price {
  padding: 0 0 0 .75rem;
  text-decoration: line-through
}
.card36 .other-info {
  position: absolute;
  right: .625rem
}
.card38 .star-box {
  padding: .625rem 0;
  text-align: center
}
.card38 .star-box .icon-font-star {
  margin: 0 1.25rem 0 0
}
.card38 .star-box .icon-font-star:last-child {
  margin-right: 0
}
.card38 .icon-font-star:active, .card38 .icon-font-star:hover, .card38 .star-choosed {
  color: #fb9a00
}
.card38 .star-info {
  padding: 0 0 .625rem;
  text-align: center
}
.card38 .more-detail {
  height: 2.375rem;
  text-align: center;
  line-height: 2.375rem
}
.card38 .more-detail a {
  text-decoration: none
}
.card39 {
  position: relative
}
.card39 .icon-video {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(2)
}
.card39 img {
  width: 100%
}
.card4 .layout-box {
  height: 2rem;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem 0 .375rem .75rem
}
.card4 .plus-m .icon-arrow-right {
  margin: 0 0 0 .3125rem;
  font-size: 1.25rem
}
.card4 .iconimg {
  margin: 0 .625rem 0 0
}
.card4 .mct-a {
  vertical-align: middle;
  line-height: 1.5em
}
.card40 .color-0 {
  color: #32963c
}
.card40 .color-1 {
  color: #e14123
}
.card40 .color-2 {
  color: #929292
}
.card41 {
  padding: .5rem 0 .5rem .75rem;
  line-height: 1.5
}
.card41 .des-title {
  width: 5.625rem;
  padding-right: .625rem
}
.card41 .des-main {
  padding-right: .75rem
}
.card42 .layout-box {
  height: 1.6875rem;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .5rem 0 .5rem .75rem
}
.card42 .plus-m .icon-arrow-right {
  margin: 0 0 0 .3125rem;
  font-size: 1.25rem
}
.card42 .iconimg {
  margin: 0 .375rem 0 0
}
.card42 .mct-a {
  vertical-align: middle
}
.card52 .box-col:nth-child(2n+1) {
  margin: 0 .75rem 0 0
}
.card52 span {
  color: #FF8200;
  margin: 0 .5rem 0 0
}
.card53 {
  height: 5.625rem
}
.card53 .bg {
  background: url(http://ww2.sinaimg.cn/large/48adb7cejw1ez2u2tka3jj20d404g3yf.jpg) no-repeat right top;
  background-size: contain
}
.card53 .layout-box {
  background-image: url(http://h5.sinaimg.cn/upload/2015/12/17/28/smallpage_lefttop_2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center
}
.card53 .mod-media {
  width: 4.4375rem;
  height: 4.4375rem
}
.card53 .mod-media .media-main {
  border-radius: 50%;
  width: 60%;
  height: 60%
}
.card53 .mod-media img {
  border-radius: 50%
}
.card53 .item-list {
  text-align: right
}
.card53 .mod-operate {
  width: 3.625rem;
  margin-right: .625rem
}
.card53 .iconimg-m {
  width: 1.625rem;
  height: auto
}
.card53 .iconimg-m img {
  width: 100%;
  height: 100%
}
.card53 .btn {
  color: #fff;
  border: 1px solid;
  padding: 2px 8px;
  border-radius: 5rem
}
.card55 .rank-box h4 {
  font-size: .75rem;
  color: #333
}
.card55 .rank-box h4 em {
  color: #FF8200;
  margin: 0 .5rem 0 0
}
.card55 .rank-box h4:first-child {
  font-size: 1rem;
  color: #333;
  margin: 0 0 .5rem 0
}
.card55 .rank-box h4:first-child em {
  color: #e14123
}
.card55 .rank-box h4:nth-child(2) {
  margin: 0 0 .375rem 0
}
.card55 .rank-box em {
  display: inline-block;
  width: .875rem;
  height: .875rem;
  font-style: oblique
}
.card .card-wrap {
  margin: 0 .75rem;
  height: 100%
}
.card .card-wrap .card-main {
  box-sizing: border-box;
  margin: 0 -.75rem;
  height: 100%
}
.m-auto-list {
  overflow: hidden;
  font-size: 0
}
.m-auto-box {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box
}
.m-col-2 .m-item-box, .m-col-2 .m-auto-box {
  width: 50%
}
.m-panel {
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  background: #fff
}
.m-img-box {
  display: inline-block;
  width: 100%
}
.m-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.m-box-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  display: block
}
.m-img-box+.m-box-col {
  overflow: hidden
}
.m-box-dir {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.m-box-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
.m-avatar-box .m-img-box {
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 50%;
  position: relative
}
.m-img-box img {
  width: 100%;
  vertical-align: top
}
.m-avatar-box .m-img-box img {
  border-radius: 50%
}
.m-avatar-box .m-img-box .icon {
  position: absolute;
  right: -.125rem;
  bottom: -.125rem;
  -webkit-transform: scale(0.7128);
  transform: scale(0.7128)
}
.m-text-box>:last-child {
  margin: 0
}
.m-text-box h3 {
  font-size: 1rem;
  color: #333;
  line-height: 1.4
}
.m-text-box>* {
  margin: 0 0 .375rem 0
}
.m-text-cut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.m-btn-mblack {
  color: #fff;
  background: rgba(0, 0, 0, .3);
  border: .0625rem solid #fff
}
.m-btn-media {
  font-size: 3.4rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2)
}
.m-btn-media .icon {
  margin-left: .125em
}
.m-btn-media .icon {
  font-size: .25em
}
.m-btn-round .icon {
  font-size: .375em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff
}
.m-box-center-a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
footer.m-ctrl-box {
  border-top: 1px solid rgba(0, 0, 0, .15);
  height: 2.125rem
}
.m-ctrl-box .m-diy-btn {
  color: #939393;
  height: 100%
}
.m-ctrl-box .icon {
  -webkit-transform: scale(0.6);
  transform: scale(0.6)
}
.card59 .m-auto-box .m-panel {
  border: none
}
.card59 .m-auto-box .m-mask-type {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(80, 125, 175, .8);
  border-radius: 0 0 0 .1875rem;
  color: #fff;
  font-size: .625rem;
  padding: .25rem 0;
  width: 1.875rem;
  text-align: center
}
.card59 .m-auto-box .m-btn-media {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}
.card59 .m-auto-box:nth-child(2n+1) {
  padding: 0 .25rem 0 0
}
.card59 .m-auto-box:nth-child(2n) {
  padding: 0 0 0 .25rem
}
.card59 .m-auto-box article>.m-img-box {
  position: relative
}
.card59 .m-auto-box article .m-avatar-box {
  position: absolute;
  bottom: .375rem;
  left: .5625rem
}
.card59 .m-auto-box article .m-avatar-box .m-img-box {
  width: 1.5rem
}
.card59 .m-auto-box article .m-avatar-box .m-text-box {
  margin-left: .5625rem
}
.card59 .m-auto-box article .m-avatar-box .m-text-box h3 {
  color: #fff;
  font-size: .875rem
}
.card59 .m-auto-box article .m-avatar-box .icon {
  font-size: 12.8px
}
@media screen and (min-width:414px) and (max-width:767px) {
  .card59 .m-auto-box article .m-avatar-box .icon {
    font-size: 12.8px
  }
}
@media screen and (min-width:768px) {
  .card59 .m-auto-box article .m-avatar-box .icon {
    font-size: 16px
  }
}
.card59 .m-auto-box article>.m-text-box {
  padding: .5rem .5625rem
}
.card59 .m-auto-box article>.m-text-box h3 {
  font-size: .9375rem;
  line-height: 1.2
}
.card59 .m-auto-box article>.m-text-box h4 {
  margin: .25rem 0 0 0
}
.card59 .m-auto-box .m-ctrl-box {
  margin: 0 .625rem
}
.card59 .m-auto-box .m-ctrl-box .icon-font {
  font-size: .9375rem;
  color: #939393
}
.card59 .m-auto-box .m-ctrl-box h4 {
  font-size: .75rem
}
.card6 .icon-font-arrow-right {
  vertical-align: middle;
  margin-left: .3125rem
}
.card6 .btn {
  border-bottom: 0;
  box-shadow: none
}
.card7 {
  padding: .625rem .75rem;
  overflow: hidden
}
.card7 .title {
  padding: 0 0 .625rem
}
.card7 .content-text {
  line-height: 1.4em
}
.card7 .info-footer {
  padding: .625rem 0 0
}
.card9 {
  position: relative
}
.card9 .card {
  margin-bottom: 0;
  margin-top: .4375rem;
  background-color: #f7f7f7
}
.card9 video {
  background-color: #000
}
@media (max-width:414px) {
  .card9 .vip-card {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100% auto;
    position: absolute;
    top: -4px;
    right: 0;
    width: 100%;
    height: 60px;
    z-index: 1
  }
}
.card9 .extend-content .card {
  background-color: #fff
}
.card9 .card .mod-media {
  margin: 0
}
.card9 .card .media-graphic .item-list {
  padding: .3125rem 0 0 .6875rem
}
.card9 .main-content {
  overflow: hidden;
  padding: .5rem
}
.card9 .media-pic {
  text-align: left;
  margin: .3125rem 0 0 0;
  max-height: 12.5rem;
  overflow: hidden
}
.card9 .media-pic img {
  display: block
}
.card9 .media-txt {
  padding: .5rem 0 0;
  line-height: 1.125rem
}
.card9 .more-detail {
  height: 2.25rem;
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: -.0625rem
}
.card9 .more-detail a {
  padding: .375rem 0;
  text-decoration: none
}
.card9 .more-detail .icon-font, .card9 .more-detail .icon {
  vertical-align: -.125rem;
  color: #929292
}
.card9 .more-detail .icon-font-arrow-down {
  margin-left: .1875rem;
  vertical-align: middle
}
.card9 .more-detail .num {
  padding: 0 0 0 .1875rem;
  vertical-align: top
}
.card9 .item-main {
  overflow: hidden;
  font-weight: 400;
  line-height: 1rem
}
.card9 header .item-list {
  padding: .6875rem .6875rem 0
}
.card9 header .item-minor {
  padding: 0;
  line-height: 1rem
}
.card9 header .media-main:before {
  content: " ";
  position: absolute;
  border: .0625rem solid #e4e4e4;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-radius: 50%
}
@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio:2) {
  .card9 header .media-main:before {
    width: 4.25rem;
    height: 4.25rem;
    -webkit-transform: scale(0.5) translate(-50%, -50%)
  }
}
.card9 header .mod-media {
  margin-top: .75rem;
  margin-bottom: .5rem
}
.card9 header .mod-media img {
  border-radius: 50%
}
.card9 header .mod-media .icon {
  right: -.125rem;
  bottom: -.125rem
}
.card9 .item-minor .from {
  padding: 0 0 0 .5rem
}
.card9 .media-graphic .operate-box {
  position: relative;
  display: block;
  width: 3.75rem
}
.card9 .mod-operate {
  padding: .25rem 0
}
.card9 .operate-box .icon-font {
  position: absolute;
  margin: 0;
  top: .5rem;
  right: .5rem
}
.card9 .weibo-detail {
  padding: .25rem .75rem .625rem
}
.card9 .default-content img, .card9 .extend-content img {
  vertical-align: text-bottom
}
.card9 .default-content {
  word-wrap: break-word;
  line-height: 1.35rem
}
.card9 .extend-content {
  position: relative;
  margin: .4375rem -.75rem -.75rem;
  background-color: #f7f7f7
}
.card9 .extend-content .weibo-original {
  word-wrap: break-word;
  line-height: 1.25rem
}
.card9 .extend-content>.inner {
  padding: .625rem
}
.card9 .head-bar {
  position: relative;
  padding: .625rem 0 .625rem .75rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 2.0625rem
}
.card9 .head-bar .title {
  color: #e14123;
  padding: 0
}
.card9 .head-bar .icon-font-arrow-down {
  position: absolute;
  right: .625rem;
  top: .625rem
}
.card9 .media-pic-list {
  overflow: hidden;
  width: 15.5rem;
  margin-top: .4375rem
}
.card9 .media-pic-list ul {
  margin-top: -.3125rem
}
.card9 .media-pic-list li {
  float: left;
  width: 4.75rem;
  height: 4.75rem;
  margin: .3125rem .3125rem 0 0
}
.card9 .media-pic-list li img {
  height: 4.75rem;
  width: 4.75rem
}
.card9 .type-scube {
  width: 10.625rem
}
.card9 .comment-show {
  background-color: #f7f7f7;
  margin-top: .625rem;
  padding: .5rem
}
.card9 .line-gradient {
  height: 1.5rem
}
.card9 .btn-box {
  height: 2.125rem;
  margin: .5rem
}
.card9 .btn-surl {
  margin-top: -.25rem
}
.card9 .repoet-info {
  background-color: #ffedda;
  display: block;
  padding: .375rem;
  color: #f48800;
  font-size: .75rem;
  margin-bottom: .375rem;
  border-radius: .1875rem
}
