
body{
  padding:0;
  margin:0;
}
.vid-container{
  position:relative;
  height:100vh;
  overflow:hidden;
}
.bgvid.back {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
}
.inner {
  position: absolute;
}
.incontainer{
  width:400px;
  height:600px;
  position:relative;
  top:0;
  left:calc(50vw - 200px);
  overflow:hidden;
}
.bgvid.inner{
  top:calc(-50vh + 200px);
  left:calc(-50vw + 200px);
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);
}
.Profliebox{
  position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  background:rgba(255,255,255,0.03);
  padding:30px 0px;
}
.Profliebox h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.Profliebox input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  border-color:rgba(0,0,0,0.2);
  color:#000;
  border:1;
}
.Profliebox input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.Profliebox button{
  background:#742ECC;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.Profliebox button:active{
  background:#27ae60;
}
.Profliebox p{
  font-size:14px;
  text-align:center;
}
.Profliebox p span{
  cursor:pointer;
  color:#666;
}

.Profliebox select{
  display:block;
  width:332px;
  margin:20px auto;
  padding:15px;
  border-color:rgba(0,0,0,0.2);
  color:#000;
  border:0.2;
}

.Profliebox select:focus,.box select:active{
  outline:none;
}
